<p>Bonjour <%= booking.firstName %>,</p>

<p>Merci pour votre réservation au salon <%= business.name %> le <%= dateTime %>.

<% if(booking.comment) { %>
    Votre demande : "<%= booking.comment %>" a bien été transmise au salon et vous aurez une confirmation dans les plus brefs délais.</p>
<% } else { %>
    Votre demande "<%= booking.comment %>" a bien été transmise au salon et vous aurez une confirmation dans les plus brefs délais.</p>
<% } %>

<p><a href="<%= bookingUrl %>">Cliquez ici pour voir les détails de la réservation</a></p>

<p>Si vous avez le moindre souci, empêchement ou imprévu vous pouvez contacter directement le salon à ce numéro <%= business.phoneNumber %> ou tout simplement annuler votre réservation répondant à cet email.
</p>

<p>Nous vous souhaitons un très agréable moment et vous remercions une nouvelle fois de la confiance que vous nous témoignez.</p>

<p>L'équipe Hairfie</p>