<p>Bonjour <%= booking.firstName %>,</p>

<p>Nous vous confirmons votre réservation pour le <b><%= dateTime %></b> au salon <a href="<%= businessUrl %>"><%= business.name %></a>.</p>

<p>Nous vous rappelons :</p>

<p>l’adresse du salon : <%= address.street %>, <%= address.zipCode %> <%= address.city %></p>

<p>le numéro de téléphone du salon : <%= business.phoneNumber %></p>

<p>N’hésitez pas à appeler directement le salon si jamais vous souhaitiez préciser quelques points.</p>

<p>Enfin, pensez à la communauté et demandez bien à votre coiffeur de réaliser un Hairfie de votre future coupe.</p>

<p>Toute l’équipe d’Hairfie reste à votre entière disposition pour toute question.</p>

<p>Vous pouvez nous joindre à tout moment au +33 1 85 08 91 69 ou nous écrire en répondant simplement à cet email.</p>

<p>Merci,</p>

<p>A Bientôt,</p>

<p>L'équipe Hairfie</p>
