<p>Bonjour,</p>

<% if(businessMember) { %>
    <p><%= businessMember.firstName %> a pris un hairfie après votre passage chez <%= business.name %>.<br /><a href="<%= hairfieUrl %>">Téléchargez votre photo.</a></p>
<% } else { %>
    <p>Votre nouvelle coupe est superbe !<br /><a href="<%= hairfieUrl %>">Téléchargez votre photo prise après votre passage chez <%= business.name %>.</a></p>
<% } %>

<p>Et pensez à <a href="<%= iosAppUrl %>">télécharger l'application Hairfie sur l'Appstore</a> pour découvrir toutes les tendances, réserver en temps réel chez votre coiffeur et profitez d'offres promotionnelles.

<p>Merci beaucoup et à très vite !<br />L'équipe Hairfie</p>