<p>Bonjour,</p>

<p><%= author.firstName %> a pris un Hairfie après vous avoir coupé les cheveux... Waou !!! Impressionnant !!!<br />Vous pouvez télécharger cette photo en cliquant sur le lien suivant : <a href="<%= hairfieUrl %>"><%= hairfieUrl %></a></p>

<% if (writeReviewUrl) { %>
    <p>Votre avis intéresse la communauté, partagez votre expérience ! Donnez-nous votre avis en vous rendant à l'adresse ci-dessous.<br /><a href="<%= writeReviewUrl %>"><%= writeReviewUrl %></a></p>
<% } %>

<p>Et pensez à télécharger l'application Hairfie sur l'Appstore pour découvrir toutes les tendances, réserver en temps réel chez votre coiffeur et profitez d'offres promotionnelles.<br /><a href="<%= iosAppUrl %>"><%= iosAppUrl %></a></p>

<p>Merci beaucoup et à très vite !<br />L'équipe Hairfie</p>
